html,body,header,
.landing {
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
  
}
body{
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css?family=Cormorant|Eagle+Lake|El+Messiri|Quattrocento&display=swap');
@media (max-width: 740px) {
  body,
  header,
  .landing {
    height: 100vh;
  }
}
h1 {
  letter-spacing: 8px;
  color: rgb(255, 188, 2);
  font-weight: bolder;
  font-family: 'Cormorant', serif;
  font-size: 60px;
  text-shadow: 2px 2px 5px rgb(8, 156, 5);
}

h5 {
  letter-spacing: 3px;
}
#overlay{
  background-color: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  position: absolute;
  /* overflow-x: hidden; */
}
.hr-light {
  border-top: 3px solid #fff;
  width: 200px;
}
#head{
  padding-top: 10%;
}
nav .navbar{
  /* overflow-x: hidden; */
  width: 99%;
  padding-right: 0px;
}
.navbar-brand{
  margin-right: 20%;
  font-weight:800;
}
.nav-item a{
  /* padding-right: 30px; */
  padding-left: 30px;
  /* padding: 10px; */
  font-size: 20px;
  font-weight: 700;
}

.landing{
  background-image: url("../images/slider2.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  padding-bottom: 20px;
  position: relative;
  overflow-x: hidden;
}
.text a{
  font-size: 20px;
  font-weight: 700;
}
.text h5{
  font-size: 25px;
  padding: 30px;
}
.button{
  border-radius: 10px;
}
.card-title{
  text-align: center;
  color: green;
  font-weight: 800;
}
.controls-top h2{
  color: rgb(5, 172, 5);
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: bolder;
}
.col-md-4{
  border-radius: 10%;
  padding: 10px;
}
#about-us{
  min-height: 70vh;
  align-items: center;

}
.about-pic {
  background-color: #ffa500;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
}
#about-us .content{
  padding: 65px 50px 85px;
  width: 100%;
  background-color: #ffa500;
  float:right;
  text-align: justify;
  overflow-x: hidden;
}
.d-flex{
  display: flex !important;
}
.arrow
{
  position: relative;
  bottom: -2rem;
  left: 50%;
  top: 90%;
  margin-left:-20px;
  width: 50px;
  height: 50px;
  background-image: url("../images/white-arrow-png-41944-Windows.ico");
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-35px);
  }
  60% {
    transform: translateY(-20px);
  }
}
.order h2{
  text-align: center;
}
.order{
  background-attachment: fixed;
  background-image: url("../images/slider2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 4%;
  padding-bottom: 4%;
}
.order-overlay{
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (max-width: 485px){
  .flex-xs-column {
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px){
  .section {
    padding-top: 30px;
}
.flex-xs-column {
    flex-direction: column;
}
#about-us .content {
  padding: 20px 30px 40px;
}
.about-pic img{
  width: 94%;
}
.order-overlay{
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 2%;
  margin-right: 2%;
  padding-right: 16px;
  padding-left: 16px;
}
.order h2{
  text-align: center;
  font-size: 20px;
}
}
