html,
body,
header,
.view {
  height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Cormorant|Eagle+Lake|El+Messiri|Quattrocento&display=swap');
@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}
h1 {
  letter-spacing: 8px;
  color: rgb(255, 188, 2);
  font-weight: bolder;
  font-family: 'Cormorant', serif;
  font-size: 60px;
  text-shadow: 2px 2px 5px rgb(8, 156, 5);
}
.border-on {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

h5 {
  letter-spacing: 3px;
}
#overlay{
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  position: absolute;
}
.hr-light {
  border-top: 3px solid #fff;
  width: 200px;
}
#head{
  padding-top: 10%;
}
.view{
  background-image: url("../images/pizzabg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  padding-bottom: 20px;
}
.text a{
  font-size: 20px;
  font-weight: 700;
}
.button{
  border-radius: 10px;
}
.controls-top{
  background: transparent;
}
.card-title{
  text-align: center;
  color: green;
  font-weight: 800;
}
.controls-top h2{
  color: rgb(5, 172, 5);
  padding-top: 40px;
  font-weight: bolder;
}
.col-md-4{
  border-radius: 10%;
  padding: 10px;
}
#about-us{
  min-height: 80vh;
  display: flex;
  align-items: center;
}
#about-us .img {
  z-index: 9;

}
#about-us .content{
  padding: 40px 50px 70px;
  max-width: 100%;
  background-color: orange;
}
.d-flex{
  display: flex !important;
}
.arrow
{
  position: relative;
  bottom: -2rem;
  left: 50%;
  top: 90%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  background-image: url("../images/white-arrow-png-41944-Windows.ico");
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-35px);
  }
  60% {
    transform: translateY(-20px);
  }
}

@media only screen and (max-width: 485px){
  .flex-xs-column {
    flex-direction: column;
  }
}
@media only screen and (max-width: 767px){
  .section {
    padding-top: 30px;
}
.flex-xs-column {
    flex-direction: column;
}
#about-us .content {
  padding: 20px 30px 40px;
}
}
